.sm-donut
  position: relative
  display: inline-block
  box-shadow: 0 0 2px turquoise

  svg
    circle
      transition: stroke-dashoffset 500ms ease-out
  span
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    text-align: center
    font-family: monospace;
    font-weight: bold;
    font-size: 22px;
